body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow: hidden;
    user-select: none;
}

.draggable {
    width: 125px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: grab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    position: absolute;
    transition: none;
}

#projects {
    top: 20%;
    left: 20%;
}

#about-me {
    top: 50%;
    left: 40%;
}

#contact {
    top: 70%;
    left: 70%;
}