/* Main page */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow: hidden;
    user-select: none;
}

/* Draggable ovals */
.draggable {
    width: 125px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: grab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    position: absolute;
    transition: none;
    z-index: 3;
}

#projects {
    top: 20%;
    left: 20%;
}

#about-me {
    top: 50%;
    left: 40%;
}

#contact {
    top: 70%;
    left: 70%;
}

/* Contact Me overlay */
.contact-grid {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.rows {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex-basis: 31%;
    background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.contact-item {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .rows {
        flex-direction: column; /* Make the columns stack vertically */
        align-items: center;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

img {
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}



/* Global overlay */
.btn-danger {
    height: 30px;
    width: 40px;
}

.fullscreen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fullscreen-overlay.show {
    opacity: 1;
    z-index: 3;
}